<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content"></div>
    {{>header}}
    <p>This site was created by Johnny Joestar. It uses data from mapbox.com and darksy.net!</p>
    <img class="portrait" src="/images/IMG_8376.JPEG">
    </div>
    {{>footer}}
</body>

</html>